<% include base/newhead.ejs %>
<% if(a != '0' && a!= undefined){%>
    <% include loginNav.ejs%>
        <% include nav-login.ejs %>
<%}else {%>
    <% include NoLoginNav.ejs%>
        <% include nav-loginNo.ejs%>
<%}%>



    <style>
    *{
        margin: 0;
        padding: 0;
    }
    li{
        list-style: none;
    }
    .clear{
        display: block;
        content: '';
        clear: both;
    }
    .fl{
        float: left;
    }
    .fr{
        float: right;
    }
    .news{
        width: 100%;
        height: 2000px;
        background: #F9F9F9;
    }
    .news-nav{
        width: 980px;
        height: 65px;
        border-bottom: #E4E4E5 solid 1px;
        margin: 0 auto;
    }
    .news-li li{
         float: left;
         font-size: 15px;
         line-height: 64px;
         margin-right: 60px;
         color: #666666;
    }
    .news-li li:nth-child(1){
        color: #f00;
    }
    .news-li li:hover{
        color: #f00;
        cursor: pointer;
    }
/* 轮播图     */
    #myShuffArea{
        width: 500px;
        height: 300px;
        border: solid 1px gainsboro;
        /* border: springgreen solid 1px; */
        position: relative;
        margin-top: 40px;
        margin-left: 80px;
        float: left;
        /* border-radius:5%; */
            /*x:0,y:0就是四周*/
        /* box-shadow: 0px 0px 10px 5px lightgrey; */
    }
    .lun-title{
        width: 500px;
        height: 50px;
        background: #68685F;
        position: absolute;
        bottom: 0px;
        opacity: 0.8;
    }
    .left-d{
        width: 40px;
        height: 50px;
        /* border: tan solid 1px; */
        background: #2E201A;
        opacity: 0.6;
        position: absolute;
        top: 40%;
        text-align: center;
    }
    .left-d i{
        font-size: 40px;
        line-height: 50px;
        font-weight: bolder;
        color: #ffffff;
    }
    .right-d{
        width: 40px;
        height: 50px;
        /* border: tan solid 1px; */
        background: #2E201A;
        position: absolute;
        top: 40%;
        right: 0px;
        text-align: center;
        opacity: 0.6;
    }
    .right-d i{
        font-size: 40px;
        line-height: 50px;
        font-weight: bolder;
        color: #ffffff;
    }
    .lun-n{
        font-size: 18px;
        color: #fff;
        text-align: center;
        line-height: 50px;
    }
/* 数据 */
    .lun-data{
        width: 420px;
        height: 300px;
        /* border:steelblue solid 1px; */
        float: right;
        margin-top: 40px;
        margin-right: 60px;
    }
    .lun-data ul li{
      float: left;
    }
    .zt{
      width: 420px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      
    }
    h1{
        font-size: 26px;
        font-weight: bolder;
    }
    h3{
        font-size: 16px;
        font-weight: bold;
    }
    .lun-date{
        font-size: 12px;
        color: #999999;
        margin-left: 320px;
        margin-top: 20px; 
    }
/* 观点     */
    .point{
       width: 80%;
       height: 300px;
       /* border: springgreen solid 1px; */
       margin: 100px 160px;
    }
    .point-title{
       width: 100%;
       height: 50px;
       /* border: steelblue solid 1px; */
     
    }
    .point-zt{
        font-size: 30px;
        font-weight: bolder;
        float: left;
    }
    .point-more{
        font-size: 14px;
        float: right;
        margin-left: 780px;
        margin-top: 15px;
        color: #555;
    }
    .point-top{
        width: 100%; 
        height: 220px;
        display: flex;
        /* border: rgb(240, 48, 160) solid 1px; */

    }
    .point-top .p-div{
        flex: 1;
        /* border: steelblue 1px solid;    */
    }
    .news-line{
     width: 250px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
/* 新媒体 */
    .new-media{
       width: 80%;
       height: 300px;
       /* border: rgb(255, 123, 0) solid 1px; */
       margin: 100px 160px;
    } 
    .media-title{
       width: 100%;
       height: 50px;
       /* border: steelblue solid 1px; */
    }
    .media-zt{
        font-size: 30px;
        font-weight: bolder;
        float: left;
    }
    .media-top{
        width: 100%; 
        height: 400px;
        display: flex;
        /* border: rgb(77, 15, 248) solid 1px; */
        margin-top: 40px;
        flex-wrap: wrap; 
    }
    .media-top .m-div{
        width: 470px;
        height: 208px;
        /* border: steelblue 1px solid;    */
        margin-left: 40px;
        margin-top: 20px;
        background: #fff;
    }
    .m-div-fl{
        width: 198px;
        height: 198px;
        border: #EEEEEE solid 1px;
        position: relative;
    }
    .m-div-fl img{
        width: 195px;
        height: 195px;
       
    }
    .m-div-fl .m-name{
        width: 195px;
        height: 40px;
        background: #000;
        position: absolute;
        bottom: 0px;
        opacity: 0.5;
    }
    .m-div-fl .m-name p{
        color: #fff;
        font-size: 17px;
        text-align: center;
        line-height: 40px;
    }
    .m-div-fr{
        width: 250px;
        height: 198px;
        /* background: rgb(7, 223, 115); */
    }
    .m-div-fr .me-name{
        font-size: 20px;
        color: #333;
         margin: 25px 20px;
    }
    .m-div-fr .me-dic{
        font-size: 14px;
        color: #999999;
         margin-left:  20px;
    }
    .attention{
        width: 155px;
        height: 30px;
        border: #FF0000 1px solid;
        margin: 20px 20px;
    }
    .attention:hover{
        background: #FF0000;
        cursor: pointer;
    }
    .att:hover{
        color: #fff;
        cursor: pointer;
    }
    .att{
       color: #FF0000;
       font-size: 15px; 
       text-align: center;
       line-height: 30px;
    }
 /* 视频新闻    */
    .new-video{
       width: 80%;
       height: 300px;
       /* border: rgb(255, 123, 0) solid 1px; */
       margin: 320px 160px;
       
    } 
    .video-title{
       width: 100%;
       height: 50px;
       /* border: steelblue solid 1px; */
    }
    .video-zt{
        font-size: 30px;
        font-weight: bolder;
        float: left;
    }
    .video-top{
        width: 100%; 
        height: 200px;
        display: flex;
        /* border: rgb(77, 15, 248) solid 1px; */
        margin-top: 40px;
        right: 20px;
        position: relative;
       
    }
    .video-top .video-d{
        flex: 1;
        /* border: firebrick solid 1px; */
        margin-left: 20px;
        /* position: relative; */
    }
    .video-top .video-d:nth-child(2){
        height: 210px;
        position: relative;
        top: -8px;
    }
    .zm{
        width: 332px;
        height: 40px;
        background: #000;
        opacity: 0.5;
        position: absolute;
        bottom: 0px;
        text-align: center;
        display: none;
    }
    .zm-s{
        color: #fff;
        font-size: 17px;
        line-height: 50px;
    }
/* 更多下面二级菜单     */
    .most{
      width: 100px;
      height: 120px;
      background: #FAFAFA;
      position: absolute;
      z-index: 1;
      top: 50px;
      line-height: 20px;
      display: none;
    }
    .most-one{
        width: 80px;
        height: 40px;
        border-bottom: 1px #DEDEDE solid;
        text-align: center;
        margin-left: 10px;
        line-height: 40px;
        color: #333333;
    }
    .most-one:hover{
        color: #FF0000;
    }
    .most-one:nth-child(3){
        border: none;
    }
    .m-most{
        position: relative;
    }
    .m-most:hover .most{
        display: block;
    }
    </style>
</head>
<body>
    <div class="news">
        <div class="news-nav">
            <ul class="news-li clear" >
               <li>新闻中心</li>
               <a href="/bigNews"><li style="color: #666;">集团新闻</li></a> 
                <li>产品新闻</li>
                <li>视频新闻</li>
                <li>第三方观点</li>
                <li class="m-most">更多
                    <div class="most">
                         <p class="most-one">服务新闻</p>
                         <p class="most-one">服务新闻</p>
                         <p class="most-one">新闻</p>
                    </div>
                </li>
            </ul>  
        </div>
<!-- 轮播图 -->
        <div class="container lun">
                <!--自己定义的收容轮播的区域-->
            <div id="myShuffArea">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!--轮播指标-->
                        <!-- <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1" ></li>
                        <li data-target="#myCarousel" data-slide-to="2" ></li>
                    </ol> -->
                    <!--轮播项目-->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img width="500px" height="300px" src="/newimages/n2.jpg" alt=""/>
                            <div class="lun-title">
                                <p class="lun-n">CES2019全球顶级科技盛宴开幕 TCL大秀创新硬实力</p>
                            </div>
                        </div>
                        <div class="item">
                            <img width="500px" height="300px" src="/newimages/n3.jpg" alt=""/>
                            <div class="lun-title">
                                <p class="lun-n">CES2019全球顶级科技盛宴开幕 TCL大秀创新硬实力</p>
                            </div>
                        </div>
                        <div class="item">
                            <img width="500px" height="300px" src="/newimages/n7.jpg" alt=""/>
                            <div class="lun-title">
                                <p class="lun-n">CES2019全球顶级科技盛宴开幕 TCL大秀创新硬实力</p>
                            </div>
                        </div>
                        <div class="item" >
                            <img width="500px" height="300px"  src="/newimages/n2.jpg" alt=""/>
                            <div class="lun-title">
                                <p class="lun-n">CES2019全球顶级科技盛宴开幕 TCL大秀创新硬实力</p>
                            </div>
                        </div>
                        <div class="item">
                            <img width="500px" height="300px" src="/newimages/n3.jpg" alt=""/>
                            <div class="lun-title">
                                <p class="lun-n">CES2019全球顶级科技盛宴开幕 TCL大秀创新硬实力</p>
                            </div>
                        </div>
                    </div>
                    <!-- 轮播（Carousel）导航 -->
                    <a  href="#myCarousel" role="button" data-slide="prev" >
                        <!-- <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"><i class="fa fa-angle-left"></i></span> -->
                        <div class="left-d"><i class="fa fa-angle-left"></i></div>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a  href="#myCarousel" role="button" data-slide="next">
                        <!-- <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> -->
                        <div class="right-d"><i class="fa fa-angle-right"></i></div>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="lun-data">
             <ul class="clear">
                 <li>
                    <h1 class="zt">创新缔造未来！ TCL冰箱洗衣机IFA 2019让健康生活极速登场</h1>
                    <p class="lun-date">2019-09-12</p>
                 </li>
                 <li>
                    <h3 class="zt">实力出众，颜值扛打  TCL C10双屏QLED TV颠覆视听交互体验</h3>
                    <p class="lun-date">2019-09-12</p>
                 </li>
                 <li>
                    <h3 class="zt">TCL耳机又推出多款新品？</h3>
                    <p class="lun-date">2019-09-12</p>
                 </li>
             </ul>
            </div>
        </div> 
<!-- 观点         -->
        <div class="point">
            <div class="point-title">
                <h2 class="point-zt">第三方观点<span class="point-more">查看更多>></span></h2>
            </div>
            <div class="point-top">
                <div class="p-div">
                    <img width="238px" height="138px" style="margin-left: 12px;margin-top: 20px;" src="/newimages/p1.jpg" alt="">
                    <p class="news-line" style="margin-top: 10px;margin-left: 12px">TCL携中国男篮绽放全球</p>
                    <a href="" style="margin-left: 12px">查看全文</a>
                </div>
                <div class="p-div">
                    <img width="238px" height="138px" style="margin-left: 12px;margin-top: 20px;" src="/newimages/p2.jpg" alt="">
                    <p class="news-line" style="margin-top: 10px;margin-left: 12px">TCL携中国男篮绽放全球</p>
                    <a href="" style="margin-left: 12px;">查看全文</a>
                </div>
                <div class="p-div">
                    <img width="238px" height="138px" style="margin-left: 12px;margin-top: 20px;" src="/newimages/p3.jpg" alt="">
                    <p class="news-line" style="margin-top: 10px;margin-left: 12px">腾讯科技：TCL去年电视销量破2000万台全球第三 北美卖出200万台</p>
                    <a href="" style="margin-left: 12px;">查看全文</a>
                </div>
                <div class="p-div">
                    <img width="238px" height="138px" style="margin-left: 12px;margin-top: 20px;" src="/newimages/p4.jpg" alt="">
                    <p class="news-line" style="margin-top: 10px;margin-left: 12px">TCL携中国男篮绽放全球</p>
                    <a href="" style="margin-left: 12px">查看全文</a>
                </div>
            </div>
        </div>   
<!-- 新媒体         -->
        <div class="new-media">
            <div class="media-title"><h2 class="media-zt">新媒体</h2>
            </div>
            <div class="media-top">
                <div class="m-div">
                    <div class="m-div-fl fl" >
                        <img  src="/newimages/m1.jpg" alt="">
                        <div class="m-name"><p>李东生微信</p></div>
                    </div>
                    <div class="m-div-fr fr">
                        <p class="me-name">李东生微信</p>
                        <p class="me-dic">TCL集团股份有限公司董事长、CEO李东生与你分享管理经验、人生经验</p>
                        <div class="attention">
                            <p class="att">关注微信</p>
                        </div>
                    </div>
                </div>
                <div  class="m-div">
                        <div class="m-div-fl fl" >
                            <img  src="http://img.mall.tcl.com/dev1/0/000/167/0000167598.fid" alt="">
                            <div class="m-name"><p>李东生微博</p></div>
                        </div>
                        <div class="m-div-fr fr">
                            <p class="me-name">李东生微博</p>
                            <p class="me-dic">TCL集团股份有限公司董事长、CEO李东生个人微博</p>
                            <div class="attention">
                                <p class="att">关注微博</p>
                            </div>
                        </div>
                </div>
                <div  class="m-div">
                        <div class="m-div-fl fl" >
                            <img  src="http://img.mall.tcl.com/dev1/0/000/167/0000167600.fid" alt="">
                            <div class="m-name"><p>TCL集团官方微博</p></div>
                        </div>
                        <div class="m-div-fr fr">
                            <p class="me-name">TCL集团官方微博</p>
                            <p class="me-dic">TCL创意感动生活</p>
                            <div class="attention">
                                <p class="att">关注微博</p>
                            </div>
                        </div>
                </div>
                <div  class="m-div">
                        <div class="m-div-fl fl" >
                            <img  src="http://img.mall.tcl.com/dev1/0/000/167/0000167604.fid" alt="">
                            <div class="m-name"><p>TCL集团招聘</p></div>
                        </div>
                        <div class="m-div-fr fr">
                            <p class="me-name">TCL集团招聘</p>
                            <p class="me-dic">TCL集团股份有限公司人力资源管理中心</p>
                            <div class="attention">
                                <p class="att">关注微博</p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
<!-- 视频新闻         -->
        <div class="new-video">
            <div class="video-title">
                <h2 class="video-zt">视频新闻<span class="point-more">查看更多>></span></h2>
            </div>
            <div class="video-top">
                <div class="video-d">
                    <video width="332px" height="196px" src="/src/new1.mp4" controls  loop  poster="http://s0.mall.tcl.com/group1/M00/04/84/CkgblltWmOSAbZDgAAE1RfIZ6Bs076.fid"></video>
                    <!-- <img width="332px" height="196px" class="bg-biger" src="http://s0.mall.tcl.com/group1/M00/04/84/CkgblltWmOSAbZDgAAE1RfIZ6Bs076.fid"> -->
                    <p class="zm"><span class="zm-s">TCL空调“智享家的每一度”发布会精彩剪</span></p>
                </div>
                <div class="video-d">
                    <video width="332px" height="210px" src="/src/new1.mp4" controls  loop  poster="http://s0.mall.tcl.com/group1/M00/04/5B/CkgbllsnoeyAWOn9AAQQjBMqi3E114.fid"></video>
                    <p class="zm"><span class="zm-s">TCL空调“智享家的每一度”发布会精彩剪</span></p>
                </div>
                <div class="video-d">
                    <video width="332px" height="196px" src="/src/new1.mp4" controls  loop  poster="http://s0.mall.tcl.com/group1/M00/04/12/CkgbllqXpAOAGdSfAAlswUQQJwY772.fid"></video>
                    <p class="zm"><span class="zm-s">TCL空调“智享家的每一度”发布会精彩剪</span></p>
                </div>
            </div>
        </div>
    </div>
     <!--修改延迟事件：变快-->
    <script> 
        $(function(){
            $('#myCarousel').carousel({interval:2000});
        })

        var videoD = document.querySelectorAll('.video-d')   
        var zm = document.querySelectorAll('.zm')  
        for(var i=0;i<videoD.length;i++){
            videoD[i].index = i;
            videoD[i].onmouseover = function(){
                zm[this.index].style.display = 'block'  
            } 
            videoD[i].onmouseout = function(){
                zm[this.index].style.display = 'none'
            }   
        }
    </script>
        
<% include base/backtop.ejs %>
<% include base/nav-bottom.ejs %>

</body>
</html>