<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/javascripts/css/font-awesome.min.css">
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        li{
            list-style: none;
        }
        .bottom{
            width:100%;
            height:350px;
            background:#F0F0F0;
            margin-top: 150px;
        }
        .bottom-top{
            height:125px;
            /* background: yellow; */
        }
        .bottom-center{
            height:200px;
            position: relative;
            /* background: yellowgreen; */
        }
        .bottom-top img,.bottom-top p{
            float:left;
        }
        .guanfang{
            margin-left:60px;
            margin-top: 40px;
        }
        .tubiao{
            margin-left: 258px;
            margin-top: 40px;
        }
        .bottom-top p{
            margin-top: 47px;
            margin-left: 7px;
            font-size: 14px;
            color: #666666;
        }
        .level{
            width:90%;
            height:1.5px;
            background: #E0E0E0;
            margin-left:60px;
        }
        .bottom-center ul{
            float:left;
            margin-top: 15px;
        }
        .help{
            margin-left: 60px;
        }
        .server{
            margin-left:110px;
        }
        .title{
            color:black !important;
            font-size: 14px !important;
            font-weight: 900;
        }
        .bottom-center li{
            color: #999999;
            font-size: 12px;
            margin-top:10px;
        }
        .code{
            margin-left: 110px;
            margin-top: 26px;
        }
        .tel{
            color:#FD1B1B !important;
            font-size: 20px !important;
            font-weight:540 !important;
            margin-left: 120px;
        }
        .tele-desc{
            font-size:12px !important;
            margin-left: 110px;
            margin-top:5px !important;
        }
        .phone{
            width:155px;
            height:36px;
            font-size:12px;
            line-height: 36px;
            background: #F0F0F0;
            color:#FC3838;
            border: #FF0000 1px solid;
            margin-left: 110px;
            margin-top: 20px;
            padding-left:20px;
            position: relative;
        }
        #headphone{
            position: absolute;
            top:7px;
            left:13px;
            z-index: 1;
            font-size:22px;
            /* line-height:30px; */
            color:#FC3838;
        }
        .bottom-bottom{
            height:133px;
            background:#E3E3E3;
            position: relative;
        }
        .bottom-bottom li{
            float: left;
            color:#666;
            font-size:12px;
            margin-right:10px;
            margin-top:25px;
        }
        .bottom-bottom li:nth-child(1){
            margin-left: 60px;
        }
        .bottom-bottom li span{
            margin-left:10px;
        }
        .bottom-bottom ul li:hover{
            text-decoration:underline;
            cursor:pointer;
        }
        .miaoshu{
            position: absolute;
            color:#999;
            font-size:12px;
            left: 60px;
            top: 50px;
        }
        .clear::after{
            content:'';
            display:block;
            clear: both;
        }
        .police{
            position: absolute;
            left:60px;
            top:73px;
        }
        .yue{
            position: absolute;
            color:#999;
            font-size:12px;
            left:85px;
            top:74px;
        }
        .bottom-logo{
            position: absolute;
            left:580px;
            top:85px;
        }
        .chinese{
            color:#555;
            font-size: 12px;
            position: absolute;
            right:100px;
            top:40px;
        }
    </style>
</head>
<body>
    <div class="bottom">
        <!-- <div class="bottom-top">
            <img class="guanfang" width="3%" src="/images/z-guanfang.png">
            <p>官方正品</p>
            <img class="tubiao" width="3%" src="/images/z-bao.png">
            <p>全国联保</p>
            <img class="tubiao" width="3%" src="/images/z-baoyou.png" alt="">
            <p>全场包邮</p>
            <img class="tubiao" width="3%" src="/images/z-7.png" alt="">
            <p>7天无理由退货</p>
        </div> -->
        <div class="level"></div>
        <div class="bottom-center">
            <ul class="help">
                <li class="title">帮助中心</li>
                <li class="desc">购物指南</li>
                <li>支付方式</li>
                <li>配送方式</li>
                <li>交易条款</li>
                <li>电子发票</li>
            </ul>
            <ul class="server">
                <li class="title">服务支持</li>
                <li>售后服务</li>
                <li>自助服务</li>
                <li>进度查询</li>
                <li>用户体验中心</li>
                <li style="color: #FC3838;">视频教程</li>
            </ul>
            <ul class="server">
                <li class="title">客户服务</li>
                <li style="color: #FC3838;">内购平台</li>
                <li>企业采购</li>
                <li>经销商之家</li>
                <li>十分到家</li>
            </ul>
            <ul class="server">
                <li class="title">关注我们</li>
                <li>联系我们</li>
                <li>官方微博</li>
                <li>铁粉社区</li>
            </ul>
            <ul class="server">
                <li class="title">应用服务</li>
                <li>雷鸟</li>
                <li>欢网</li>
                <li>金融</li>
                <li>教育</li>
                <li>全球播</li>
            </ul>
            <ul>
                <li class="title" style="margin-left: 110px;">TCL官网商城</li>
                <img style="width:105px;height: 105px;" class="code" src="/images/z-erweima.jpg">
            </ul>
            <ul>
                <li class="tel">4008-123456</li>
                <li class="tele-desc">（24小时在线，仅收市话费）</li>
            </ul>
            
            <button class="phone">24小时在线客服
                <i id="headphone" class="fa fa-headphones"></i>
            </button>
        </div>
        <div class="bottom-bottom clear">
            <ul>
                <li>关于TCL
                    <span>|</span>
                </li>
                <li>投资者关系
                    <span>|</span>
                </li>
                <li>社会责任
                    <span>|</span>
                </li>
                <li>新闻中心
                    <span>|</span>
                </li>
                <li>人才招聘
                    <span>|</span>
                </li>
                <li>成员网站</li>
            </ul>
            <p class="miaoshu">©2010-2018 TCL CORPORATION All Rights Reserved. TCL集团股份有限公司版权所有 粤ICP备05040863号使用条款|法律声明|隐私保护</p>
            <img width="18px" class="police" src="/images/z-police.png">
            <p class="yue">粤网公安备案44133002100088号</p>
            <img width="180px" class="bottom-logo" src="/images/z-tubiao.png">
            <p class="chinese">中文简体 | English</p>
        </div>
    </div>
</body>
</html>